body{
    background-color: rgb(65, 65, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.message{
    margin-top: 100px;
    display: none;
    border-radius: 5px;
    padding: 10px;
}
.message.error{
    background-color: red;
}
.message.success{
    background-color: green;
}